<ifModule mod_headers.c>
  Header always set Access-Control-Allow-Methods "POST, GET, PUT, PATCH, DELETE"
</ifModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Store the base path.
  RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
  RewriteRule ^(.*)$ - [E=BASE:%1]

  # Forbid `public` directory.
  #RewriteRule ^public - [F,L]

  # Skip for `client` directory.
  RewriteRule ^client/ - [L]

  # For dev environment. There's no `node_modules` directory on production.
  RewriteRule ^node_modules/ - [L]

  # Rewrite to `public` directory.
  RewriteRule ^((?!public/).*)$ %{ENV:BASE}/public/$1 [L,NC]

  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^/?(public/api)/ - [F]

  RewriteRule ^/?data/ - [F]
  RewriteRule ^/?application/ - [F]
  RewriteRule ^/?custom/ - [F]
  RewriteRule ^/?vendor/ - [F]
  RewriteRule ^/?client/?$ - [F]

  RewriteRule .* - [E=HTTP_ESPO_CGI_AUTH:%{HTTP:Authorization}]

  RewriteRule /?web\.config - [F]
</IfModule>
