<ifModule mod_headers.c>
  Header always set Access-Control-Allow-Methods "POST, GET, PUT, PATCH, DELETE"
</ifModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
RewriteRule ^(.*)$ - [E=BASE:%1]


#RewriteCond %{ENV:BASE}/public [NC]
#RewriteRule ^/?public %1 [R=301,L,NE]

RewriteRule ^/?client/(.*)$ %{ENV:BASE}client/$1


RewriteRule ^((?!public/).*)$ %{ENV:BASE}/public/$1 [L,NC]


#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^/?public/ - [F]



#RewriteBase /espo/
#RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
#RewriteRule ^ %1 [L,NE,R=302]

#RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

  # PROTECTED DIRECTORIES
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^/?(public/api)/ - [F]

  RewriteRule ^/?data/ - [F]
  RewriteRule ^/?application/ - [F]
  RewriteRule ^/?custom/ - [F]
  RewriteRule ^/?vendor/ - [F]
  RewriteRule ^/?client/?$ - [F]
  #END PROTECTED DIRECTORIES

  RewriteRule .* - [E=HTTP_ESPO_CGI_AUTH:%{HTTP:Authorization}]

  RewriteRule /?web\.config - [F]
</IfModule>
